body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVEGADOR */

header{
  background: #add8e6;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #8bb1bea3;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

header:hover{
  border-bottom: 6px solid #add8e6;
}

.logo{
  display: flex;
  align-items: center;
  color:#3e7dcf;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  width: fit-content;
  margin-left: 10px;
}

.logo:hover{
  color:#2f5d9a;
}


nav > ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  
}

nav > ul > li{
  list-style: none;
  margin: 8px;
  
}

a{
  text-decoration: none;
  color: rgb(65, 56, 56);
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.header .active,
.header a:hover{
  color:azure;
}

/* FOOTER */

footer{
  background:#3e7dcf;
  color: rgb(198, 198, 198);
  border-top: 6px solid #3163a4b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

footer:hover{
  border-top: 6px solid #3e7dcf;
}

footer > ul{
  display: flex;
  
}

footer > ul > li{
  list-style: none;
  margin-right: 40px;
}

footer > ul > li > a{
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

footer > ul > li > a:hover{
  color: rgb(213, 213, 213);
}

.info-footer{
  padding-bottom:10px;
  font-size: 12px;
}

.social-media{
  margin: 10px;
}

/* LAYOUT */

.content{
  min-height: 60vh;
}


/* CONTACTO */

.titulo-contacto{
  text-align:center;
  color: #b7b7b7;
  
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='submit']{
  background: #269c7b;
  width: 55px;
  padding: 10px;
  transition: .2s ease-in;
  margin-top: 15px;
}

input[type='submit']:hover{
  background: #2a9879;
  color: rgb(44, 44, 44);
}

input{
  margin:8px;
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #3e7dcf93;
  color: rgb(246, 246, 246);
  
}

input::placeholder{
  color:#878787;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
}

textarea{
  margin-top: 8px;
  min-width: 200px;
  max-width: 400px;
  outline: none;
  border: none;
  border-radius: 4px;
  color:#878787;
  background:#add8e6c0
}

.contact{
  padding: 10px;
  
}












